.text {
  user-select: text;
  cursor: text;
}
.TAFS {
  padding: 10;
  margin: 10;
}
.header {
  font-size: large;
  font-weight: bolder;
  user-select: text;
  cursor: text;
}
.br {
  user-select: none;
  cursor: default;
}